TOKEN=OTc0NDk1NDU3MjA2MjEwNjMw.G_XRzv.1FmGcSxxrlR05hf34JKgCehnJOxJj8-4PxcSaQ
VOID="notjumpled.3dxtras.com,tutorials.madhacker.biz,generals.jumpingcrab.com,computers.hmao.pro,general.dob.jp"
LUCID="lucid.robloxforum.xyz, mathhelpers.d-n-s.name, languages.fedea.com.ar, worldhelp.hpc.tw"
